# Godot 4+ specific ignores
.godot/
/android/
.DS-Store

assets/sounds/.DS_Store

assets/sounds/loot/.DS_Store

assets/sprites/.DS_Store

assets/sprites/loot/.DS_Store

data/.DS_Store

data/enemies/.DS_Store

data/enemies/spawns/.DS_Store

scenes/.DS_Store

scenes/loot/.DS_Store

ui/.DS_Store

data/relics/list/.DS_Store

data/upgrades/.DS_Store

ui/hand_hud/.DS_Store

assets/sprites/hud/.DS_Store

theme/.DS_Store

data/artifacts/list/.DS_Store

scenes/sanctuary/.DS_Store
